@import '_colours';


.manage {
  .saved-successfully {
    background: #cceecc;
    padding: 0.8em 0 0.7em 1em;
    margin-bottom: 3em;
  }

  .address {
    width: 11em;
  }

  .address:disabled {
    color: black;
    border: none;
    position: relative;
    bottom: 0.5px;
  }

  .change-address {
    margin: 1em 0 2.5em 0;
  }

  .cancel-address {
    display: none;
    margin-left: 1em;
  }

  .save-address {
    margin: 1em 1em 2.5em 0;
  }

  .error {
    color: $error-colour;
    display: inline-block;
    margin-top: 1.5em;
  }

  .address-saved {
    padding-top: 1.5em;

    strong {
      font-weight: bold;
    }
  }

  .cancel {
    margin-top: 1em;
  }

  .subscription {
    margin-top: 4em;

    .button {
      margin: 0 1em 0.5em 0;

      &.unsubscribe {
        background-color: $mellow-red;
      }
    }

    .unsubscribed {
      display: inline-block;
      margin-top: 0.5em;
    }
  }

  .next {
    margin-top: 4em;
  }

	.done {
		margin-top: 2em;
	}

  .back-to-home {
    float: right;
    position: relative;
    top: 7em;
    left: 1em;
  }
}
