main {
   position: relative;
   max-width: 960px;
   margin: 0 auto;
   padding-bottom: 90px;
}

h1 {
   font-size: 36px;
   line-height: 40px;
   max-width: 600px;
   padding: 90px 0 45px;
}

.govuk-breadcrumbs {
   max-width: 960px;
   margin: 0 auto;
   padding: 10px 0;
   overflow: hidden;
}

.govuk-breadcrumbs ol {
   padding: 0;
   margin: 0
}

.govuk-breadcrumbs li {
   font-weight: 400;
   text-transform: none;
   font-size: 16px;
   line-height: 20px;
   float: left;
   background-image: url(https://assets.publishing.service.gov.uk/static/separator-871ef28abf1920b1b8050934ebec4366c18e3cba6ddb704392935e076a7e744d.png);
   background-position: 0% 50%;
   background-repeat: no-repeat;
   list-style: none;
   margin-left: 0.6em;
   margin-bottom: 0.4em;
   padding-left: 0.9em
}

.govuk-breadcrumbs li:first-child {
   background-image: none;
   margin-left: 0;
   padding-left: 0
}

.govuk-breadcrumbs li a {
   color: black;
   text-decoration: underline;
}

.form-group {
   margin-bottom: 45px;
}

.form-group .hint {
   color: #999;
   margin: 0 0 5px;
}

.form-label {
   display: block;
   font-size: 19px;
   line-height: 25px;
}

.form-control {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-weight: 400;
   text-transform: none;
   font-size: 19px;
   line-height: 25px;
   width: 100%;
   padding: 5px 4px 4px;
   border: 2px solid #0b0c0c;
}

#email-f1 {
   max-width: 640px;
}

.multiple-choice {
   display: block;
   float: left;
   clear: left;
   position: relative;
   padding: 0 0 0 38px;
   margin-bottom: 10px;
   font-size: 19px;
   line-height: 25px;
}

.multiple-choice input {
   position: absolute;
   cursor: pointer;
   left: 0;
   top: 0;
   width: 38px;
   height: 38px;
   z-index: 1;
   margin: 0;
   zoom: 1;
   filter: alpha(opacity=0);
   opacity: 0;
}

.multiple-choice label {
   cursor: pointer;
   padding: 8px 10px 9px 12px;
   display: block;
   -ms-touch-action: manipulation;
   touch-action: manipulation;
   float: left;
   padding-top: 7px;
   padding-bottom: 7px;
}

.multiple-choice [type=radio] + label::before {
   content: "";
   border: 2px solid;
   background: transparent;
   width: 34px;
   height: 34px;
   position: absolute;
   top: 0;
   left: 0;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
}

.multiple-choice input:checked + label::after {
   zoom: 1;
   filter: alpha(opacity=100);
   opacity: 1;
}

.multiple-choice [type=radio] + label::after {
   content: "";
   border: 10px solid;
   width: 0;
   height: 0;
   position: absolute;
   top: 9px;
   left: 9px;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   border-radius: 50%;
   zoom: 1;
   filter: alpha(opacity=0);
   opacity: 0;
}

.multiple-choice [type=checkbox] + label::before {
   content: "";
   border: 2px solid;
   background: transparent;
   width: 34px;
   height: 34px;
   position: absolute;
   top: 0;
   left: 0;
}

.multiple-choice [type=checkbox] + label::after {
   content: "";
   border: solid;
   border-width: 0 0 5px 5px;
   background: transparent;
   border-top-color: transparent;
   width: 17px;
   height: 7px;
   position: absolute;
   top: 10px;
   left: 8px;
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
   zoom: 1;
   filter: alpha(opacity=0);
   opacity: 0;
}

.panel {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   clear: both;
   border-left-style: solid;
   border-color: #bfc1c3;
   padding: 0.78947em;
   margin-bottom: 15px;
   max-width: 600px;
}

.panel p {
   padding: 0;
   margin: 0;
   font-size: 19px;
   line-height: 25px;
}

.panel p + p {
   padding-top: 15px;
}

.panel p.math-detail {
   color: #6f777b;
}

.multiple-choice [type=checkbox] + label {
   margin-top: -9px;
}

label p.math-detail {
   font-size: 16px;
   line-height: 20px;
   margin: 0;
   color: #6f777b;
}

.js-hidden {
   display: none;
   visibility: hidden;
}

.checked+.panel {
   display: block;
   visibility: visible;
}

.form-block {
   float: left;
   clear: left;
   padding: 15px 0;
   margin-top: -5px;
   margin-bottom: 5px;
   font-size: 19px;
   line-height: 25px;
}

button {
   background-color: #00823b;
   position: relative;
   display: -moz-inline-stack;
   display: inline-block;
   padding: .526315em .789473em .263157em;
   border: none;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   outline: 1px solid transparent;
   outline-offset: -1px;
   -webkit-appearance: none;
   -webkit-box-shadow: 0 2px 0 #003618;
   -moz-box-shadow: 0 2px 0 #003618;
   box-shadow: 0 2px 0 #003618;
   font-size: 19px;
   line-height: 25px;
   text-decoration: none;
   -webkit-font-smoothing: antialiased;
   cursor: pointer;
   color: #fff;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   vertical-align: top;
}

button:before {
   content: "";
   height: 110%;
   width: 100%;
   display: block;
   background: transparent;
   position: absolute;
   top: 0;
   left: 0;
}

.form-group > p {
   font-size: 19px;
   line-height: 25px;
   max-width: 600px;
}

#govuk-box-highlight {
   background: #28a197;
   color: white;
   text-align: center;
   padding: 0 30px 60px;
   margin-bottom: 30px;
}

#govuk-box-highlight h1 {
   font-size: 48px;
   line-height: 50px;
   max-width: 100%;
}

#govuk-box-highlight p {
   max-width: 100%;
}

#govuk-box-highlight strong {
   font-size: 27px;
   line-height: 35px;
}
