{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Subscription Management Prototype
      </h1>

      <p>
        <a href="/signup/00.content/new-user-1.html">
          School and academy funding
        </a>
      </p>

      <p>
        <a href="/signup/00.content/existing-user-3.html">
          Further education, financial management and data collection
        </a>
      </p>

      <p>
        <a href="/signup/00.content/existing-user-1.html">
          School curriculum
        </a>
      </p>

      <p>
        <a href="/signup/00.content/existing-user-5.html">
          Funding and finance for students
        </a>
      </p>

      <p>
        <a href="/signup/00.content/TODO.html">
          Starting and attending school
        </a>
      </p>


    </div>
  </div>
</main>

{% endblock %}


