{% extends "layout.html" %}

{% block page_title %}
  Manage your subscriptions
{% endblock %}

{% block content %}

{% set address = data.address | default('test@example.com') %}
{% set subscriptions = data.subscriptions | default([]) %}

<main id="content" role="main" class="manage">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Manage your subscriptions
      </h1>

      <span class="lede">
        Viewing subscriptions for
        <input type="text" value="{{ address }}" class="address" disabled="disabled"></input>
      </span>
      <a class="cancel-address" href="javascript:void(0);">Cancel</a>

      <button class="button change-address">Change address</button>
      <span class="error"></span>

      <p>
        You can get updates for each of your subscriptions immediately, or as daily or weekly digests.
      </p>

      <ol class="subscriptions">
			<form method="get" action="/manage-2">
        {% for subscription in subscriptions %}
          {% set frequency = data[subscription.id + "-frequency"] | default('immediately') %}

          <li class="subscription" data-subscription="{{ subscription | dump }}" data-frequency="{{frequency}}">
            <h2 class="heading-medium">{{subscription.title}}</h2>
            <p>Received {{frequency}}</p>
            <a href="/edit?id={{subscription.id}}" class="button edit-subscription">Edit subscription</a>
            <button class="button unsubscribe">Unsubscribe</button>
          </li>
        {% endfor %}
        <input type="submit" class="button next" value="Next"></input>
			</form>
      </ol>
    </div>
  </div>
  <a class="back-to-home" href="/">Back to homepage</a>
</main>

{% endblock %}
